<h4> <%=@product.name%> </h4>

<table style="width:100%">
  <tr>
    <td>Name</td>
    <td>Description</td>
    <td>Price</td>
    <td>Image</td>
    <td>Category</td>
  </tr>
  <tr>
    <td><%=@product.name%></td>
    <td><%=@product.description%></td>
    <td><%=number_to_currency(@product.price)%></td>
    <td><%=image_tag @product.image%></td>
    <td><%=@product.category.title%></td>
  </tr>
</table>