<h3> Your order #<%=@order.id%> </h3>

<table class="table">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
      </tr>
  <% @order.cart.line_item.each do |line_item|%>
      <tr>
        <th><%= image_tag line_item.product.image%></th>
        <th><%= line_item.product.name%></th>
        <th><%= line_item.quantity%></th>
        <th><%= number_to_currency(line_item.product.price)%></th>
      </tr>
  <%end%>
      <tr>
        <th></th>
        <th> Total price order:  </th>
        <th></th>
        <th><%= number_to_currency(@order.cart.total_price) %></th>
      </tr>
</table>

<table class="table">
  <tr>
    <th><%= button_to 'Pay', order_paid_path(id: @order.id), method: :get%> </th>
    <th><%= button_to order_path(:id => @order), method: :delete do %>
            Delete
        <%end%>
    </th>
  </tr>
</table>